%table.table.table-hover
  %thead
    %tr
      %th セット
      %th 重量(kg)
      %th 回数
      %th メモ
      %th ステータス
  %tbody
    - exercise_sets.each.with_index(1) do |set, index|
      %tr
        %td= index
        %td= set.weight_kg
        %td= set.reps
        %td= set.memo
        %td
          - if set.completed
            %span.badge.bg-success 完了
          - else
            %span.badge.bg-secondary 未完了
